body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}
img {
  height: 175px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
}
h1,h3{
    color: #66BFBF;
}